.stay-preview {
    height: 250px;
    width: 150px;
    // background-color: aqua;
    position: relative;

    .stay-card {
        position: relative;
        width: 150px;
        padding: 0;

        img {
            height: 150px;
            width: 150px;
            object-fit: cover;
            aspect-ratio: 1/1;
            border-radius: 0.75em;
        }

        p {
            font-size: 0.8rem;
        }
        
    }
}
