.order-container {
  border: 1px solid #00000030;
  border-radius: 13px;
  padding: 20px;
  width: 373px;
  box-shadow: 0 0 5px 5px #00000015;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Circular', -apple-system, 'BlinkMacSystemFont', 'Roboto',
  'Helvetica Neue', sans-serif;
  position: sticky;
  top: 100px;
  @media (min-width: 1080px) {
     width: 320px;
      }
    
}

.order-form-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  
  margin-bottom: 1rem;

  p {
    margin-top: 0;
    text-decoration: none;
  }
  .order-form-header-secondary {
    display: flex;
    align-items: center; 
    color: black;
  }
  i{
    font-size: 10px;
  }
  .reviews{
    a{
      font-weight: 600;
      font-size: 14px;
      color: #777777;
    }
  }
}

.order-data {
  border: 1px solid #00000050;
  border-radius: 13px;
  margin-bottom: 15px;
}

.date-picker {
  display: flex;
  justify-content: space-between;
}

.date-input {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  padding: 8px 13px;
  color: rgb(0, 0, 0);
  line-height: 1rem;
  &:last-of-type {
    border-left: 1px solid #00000050;
  }
  label{
    font-size: 10px;
    font-weight: 700;
  }
  input{
    height: 0px;
    font-size: 12px;
    background-color: white;
    padding-bottom: -5px;
  }
  button{
    all: unset;
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    border-radius: 100%;
    
    cursor: pointer;
    &:hover{
      background-color:#F7F7F7;
    }
  }
}
.order-form-header-secondary.reviews{
  font-size: 14px;
}
.guest-input {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-top: 1px solid #00000050;
  padding: 7px 12px;
  color: gray;
  font-size: 0.75rem;

  svg {
    position: absolute;
    height: 20px;
    width: 20px;
    top: 50%;
    right: 0;
    transform: translatex(-12px) translatey(-50%);
  }
}

input {
  border: none;
  padding: 0 0;
  width: 50%;
  outline: none;
}

label {
  font-weight: 600;
  font-size: 0.75em;
}

span.cost {
  color: black;
  font-size: 1.3em;
  font-weight: 500;
}

span.reviews {
  color:#B9B9B9;
  font-size: 0.85em;
  text-decoration: underline;
}

.btn-container {
  position: relative;
  width: 99.9%;
  height: 48px;
  padding: 0 0;
  margin: 0 0;
  cursor: pointer;
  border: none;
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);

  @for $i from 0 to 10 {
    .btn-cell1:nth-child(10n + #{$i + 1}):hover ~ .content {
      --positionX: #{$i};
    }

    .btn-cell1:nth-child(n + #{10 * $i + 1}):nth-child(-n + #{10 * ($i + 1)}):hover
      ~ .content {
      --positionY: #{$i};
    }
  }


.btn-cell1 {
  width: 100%;
  height: 100%;
  z-index: 1;
  // border: 1px solid rgba(128, 128, 128, 0.753);
}

.content {
  --positionX: 0;
  --positionY: 5;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 8px;

  background-image: radial-gradient(
    circle at calc((0 + var(--positionX, 0)) * 10%)
      calc((0 + var(--positionY, 0)) * 5%),
    rgb(241, 37, 75) 0%,
    rgb(230, 30, 77) 27.5%,
    rgb(227, 28, 95) 40%,
    rgb(215, 4, 102) 57.5%,
    rgb(189, 30, 89) 75%,
    rgb(189, 30, 89) 100%
  );
}

.action-btn {
  padding: 0 0;
  margin: 0 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
}

span {
  padding: 0 0;
  margin: 0 0;
  color: white;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  font-family: sans-serif;
}
}

.reservation-price-container{
  padding-top: 1rem;
  font-size: 16px;
  line-height: 2.2rem;
  width: 100%;
}
.reservation-price{

    text-decoration: underline;
}
.reservation-total{
  margin-top: 1rem;
  padding-top: 1rem;
  border-top:  $clr7 1px solid;
  font-weight: 600;
}
.input-container{
  width: 46px;
  &.wide{
    width: 56px;
  }

}