.stay-labels-filter {
    position: fixed;
    z-index: 15;
    background-color: white;
    padding-block: 20px;
    display: flex;
    gap: 25px;
    overflow-x: hidden;
    .icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: max-content;
        align-items: center;
        cursor: pointer;

        img {
            height: 24px;
            width: 24px;
        }
        p {
            font-size: 13px;
        }
    }
}
