.stay-explore {
    padding-top: 70px;

    .more-show {
        padding-top: 30px;
        font-size: 0.8em;
        line-height: 18px;
        font-family: 'airbnb-medium';
        font-weight: 600;
        color: rgba(4, 4, 4, 0.602);
    }
}