.stay-labels-filter {
    position: fixed;
    top: 79px;
    left: 0;
    right: 0;
    z-index: 15;
    &.shadow {
        box-shadow: 0 1px 2px #00000014, 0 4px 12px #0000000d;
    }
    .icons-wrapper {
        background-color: white;
        padding-top: 1.2rem;
        padding-bottom: 0.8rem;
        display: flex;
        gap: 40px;
        overflow-x: hidden;
        align-items: center;
        .icon {
            display: flex;
            flex-direction: column;
            gap: 5px;
            justify-content: center;
            width: max-content;
            align-items: center;
            cursor: pointer;
            opacity: 0.7;
            transition: 0.3s;

            img {
                height: 24px;
                width: 24px;
            }
            p {
                font-size: 14px;
                padding-bottom: 10px;
                text-transform: capitalize;
            }
            &:hover {
                box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.15);
                opacity: 1;
            }
            &:active {
                opacity: 1;
                box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 1);
            }
        }
    }

    // .carousel__slide {
    //     .carousel__slide--prev {
    //         width: 100px;
    //         .carousel__slide--visible {
    //             width: 100px;
    //         }
    //     }
    // }

    // .carousel__slide carousel_slide--clone {
    //     width: 100px;
    // }

    // .carousel__slide {
    //     .carousel__slide--visible {
    //         width: 100px;
    //     }
    // }

    .carousel__item {
        max-width: 1000px;
    }
}
