.main-container{
.stay-filter {
    padding-inline-start: 20px;
    padding-block: 15px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 40px;
    border: 1px solid #ebebeb;
    justify-content: space-between;
    box-shadow: 0 1px 2px #00000014, 0 4px 12px #0000000d;
    transition: 0.2s;
    height: 46px;
    margin: 6px 0;
    font-size: 14px;
    font-weight: 700;
    flex: 0 1 auto;
    cursor: pointer;

    .search-container {
        display: flex;
        gap: 15px;
        align-items: center;
        .search-border {
            border-right: 1px solid #dddddd;
            height: 26px;
        }

        .guests-search {
            font-weight: 400;
        }
      
    }
    .small-search{
        display: none;
    }
    .search-btn {
        background-color: #ff385c;
        padding: 10px;
        border-radius: 50%;
        color: #fff;
        z-index: 10;
        margin: 7px 7px 7px 0;
    }

}
&.small{
    .stay-filter{
    width: 295px;
    justify-content: space-between;
    }
    .search-container{
    display: none;
    }
    .small-search{
        display: block;
    }
}
}

.stay-filter:hover {
    box-shadow: 0 2px 4px #0000002e;
}

.el-carousel {
    h3 {
        color: #000000;
        opacity: 0.75;
        line-height: 200px;
        margin: 0;
        text-align: center;
    }
}
