.stay-details-container {
  // width: min(100% - 5px, 1120px);
  margin-inline: auto;
  max-width: 1120px;
  margin-top: 6.5rem;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a {
    all: unset;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
      Roboto, 'Helvetica Neue', Arial, sans-serif;
    margin: 0 0 0.6em;
    line-height: 1;
  }
  .stay-details {
    h2 {
      font-size: 26px;
      letter-spacing: 0.28px;
      color: #222222;
      font-family: airbnb-book;
      font-weight: 600;
    }
    .fa-star {
      font-size: 14px;
      margin-inline-end: 1px;
    }
    a {
      text-decoration: underline;
    }
  }
}

.img-container {
  height: 561px;
  margin-bottom: 1.2rem;
  display: grid;
  gap: 8px;
  grid-template-columns: 2.05fr 1fr 1fr;
  grid-template-rows: 265.59px 257.59px;
  grid-template-areas:
    'area1  area2 area3'
    'area1  area4  area5';
}

.grid-item {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.img-1 {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  grid-area: area1;
}

.img-2 {
  grid-area: area2;
}

.img-3 {
  grid-area: area3;
  border-top-right-radius: 12px;
}
.img-4 {
  grid-area: area4;
}
.img-5 {
  grid-area: area5;
  border-bottom-right-radius: 12px;
}

.host-header {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: $clr7 1px solid;
}
.stay-amenities-container {
  border-top: $clr7 1px solid;
  padding-top: 1rem;
  margin-bottom: 1rem;
  h2 {
    font-size: 22px;
    letter-spacing: 0.25px;
    padding: 0;
    font-weight: 600;
  }
  .stay-amenities-list {
    margin-top: 20px;
    max-width: 647px;
    margin-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // grid-template-rows: repeat(5, 1fr);
    line-height: 1.5rem;
    .amenity-icon {
      margin-right: 1rem;
    }
    li {
      width: 51.5%;
      margin-bottom: 1rem;
    }
    li:nth-child(2n) {
      width: 48.5%;
    }
  }
  .amenity-button {
    all: unset;
    cursor: pointer;
    font-family: 'Circular', -apple-system, 'BlinkMacSystemFont', 'Roboto',
      'Helvetica Neue', sans-serif;
    font-weight: 700;
    padding: 12px 22px;
    font-size: 16px;
    background-color: white;
    border: #222222 1px solid;
    border-radius: 10px;
    letter-spacing: -0.1px;
    transition: box-shadow 0.2s ease, transform 0.1s ease;
  }
}

.stay-header {
  margin-bottom: -1.5px;
  padding-bottom: none;
}

.location-details h4 {
  font-weight: 500;
}
.stay-secondary.header {
  i {
    margin-right: 0.33rem;
    font-size: 16px;
  }
  .fa-solid.saved {
    color: #ff385c;
  }
  &.button {
    all: unset;
    padding: 8px;
    border-radius: 4px;
    font-size: 14px;
    text-decoration: underline;
  }
  &.button:hover {
    cursor: pointer;
    background-color: #f7f7f7;
  }
}

.stay-details.host {
  max-width: 647px;
}

.stay-details-summary {
  padding-bottom: 1rem;
  .content {
    max-width: 65ch;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
      Helvetica Neue, sans-serif;
    font-size: 14px;
    line-height: 1.43;
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.stay-details-extra {
  .host-header h2 {
    font-size: 22px;
    letter-spacing: 0.18px;
    margin-bottom: -5px;
    padding: 0;
  }
  .host-img {
    height: 56px;
    border-radius: 100%;
  }
}
.reservation-cmp-container {
  position: sticky;
}
.review-container {
  border-top: $clr7 1px solid;
  padding-bottom: 2rem;
  padding-top: 2rem;
  h2 {
    font-weight: 600;
  }

  .review-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    // grid-template-rows: repeat(5, 1fr);
    line-height: 2rem;
    img {
      margin-right: 10px;
    }

    .review-title .content {
      flex-direction: column;

      h3 {
        font-weight: 600;
      }
    }
  }
}

.details-page-calender-container {
  max-width: 647px;
  border-top: $clr7 1px solid;
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.details-page-calender {
  &.main {
    max-width: 647px;
  }
  &.secondary {
    position: absolute;
    width: 661px;
    height: 448px;
    right: -30px;
    top: 58px;
    z-index: 8000;
  }
}
.stay-rate {
  font-size: 14px;
  font-weight: 600;
}
.reviews {
  a {
    color: #222222;
    font-weight: 600;
    text-decoration: none;
  }
}
.review-user-img {
  height: 40px;
  border-radius: 100%;
  padding: 5px;
  border: #222222 1px solid;
}
