.stay-filter {
    padding-inline: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    align-items: center;
    display: flex;
    border-radius: 40px;
    border: 1px solid #ebebeb;
    justify-content: space-between;
    box-shadow: 0 1px 2px #00000014, 0 4px 12px #0000000d;
    transition: 0.2s;
    height: 46px;
    margin: 6px 0;
    flex: 0 1 auto;

    .search-container {
        display: flex;
        gap: 10px;
        .search-border {
            border-right: 1px solid #dddddd;
            height: 26px;
        }

        .search-btn-filter {
            cursor: pointer;
        }
    }
    .search-btn {
        background-color: #ff385c;
        padding: 10px;
        border-radius: 50%;
        color: #fff;
        z-index: 10;
        margin: 7px 7px 7px 0;
    }
}

.stay-filter:hover {
    box-shadow: 0 2px 4px #0000002e;
}

.search-modal {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    height: 70px;
    z-index: 10;
    background-color: #b7adaf;
    form {
        display: flex;
        input {
            width: 25%;
            height: 100%;
        }
    }
}

.screen {
    position: absolute;
    top: 50px;
    left: 0;
    height: 200vh;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.1);
    z-index: 5;
    transition: 1s;
}
