.search-modal {
    position: fixed;
    background-color: white;
    width: 100%;
    padding: 1rem;
    height: fit-content;
    top: 62px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 30;

    .search-line {
        position: relative;
        width: 50%;
        padding: 5px 25px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        border: 1px solid #ebebeb;
        border-radius: 50px;

        .break-point {
            border-right: 1px solid #dddddd;
            height: 30px;
            margin-block: auto;
        }
        .search-line-btn {
            cursor: pointer;
            transition: 0.5s;
            display: flex;
            flex-direction: column;
            font-size: 14px;
            justify-content: center;

            p {
                font-size: 12px;
                font-weight: 700;
                color: #222222;
            }
            span {
                color: #717171;
            }
            input {
                border: none;
                font-size: 14px;
                background-color: transparent;
            }
            &.where {
                flex-basis: 30%;
                padding-bottom: 5px;

                input {
                    width: 100%;
                }
            }
        }

        .last-search {
            display: flex;
            gap: 30px;
            .search-btn {
                background-color: #ff385c;
                padding: 15px;
                border-radius: 50%;
                color: #fff;
                z-index: 10;
                margin: 7px 7px 7px 0;
                cursor: pointer;
                transition: 0.5s;
            }
            .search-btn:hover {
                background-color: #c62b47;
            }
        }
    }
    .calender-search {
        position: absolute;
        width: 49%;
        left: 50%;
        transform: translateX(-50%);
        padding: 20px;
        border-radius: 32px;
    }
}
