// Colors-site backgrounds
$clr1: rgb(255, 255, 255);
$clr9: rgb(34, 34, 34);
// airbnb red
$clr-red: rgb(255, 56, 92);

$clr1: #ce2e6c;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7 : #DDDDDD;

// Breakpoints

// $mobile-breakpoint: 460px;
// $narrow-breakpoint: 720px;
$mobile-breakpoint: 720px;
$narrow-breakpoint: 960px;

$normal-breakpoint: 1200px;


$b1-breakpoint: 550px;
$b2-breakpoint: 950px;
$b3-breakpoint: 1130px;
$b4-breakpoint: 1640px;
// $b5-breakpoint: 550px;

// $normal-breakpoint: 1743px;
// was 960px